:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.comments .content) {
  position: relative;
}

:global(.ui.basic.label).reactionBtn {
  border: none;
  padding-left: 0;
  padding-top: 0;
}

:global(.ui.inverted.popup.transition.visible) {
  transition: none;
  filter: none;
}

:global(.ui.inverted.popup.transition.visible .header) {
  margin-bottom: 4px;
}

.metadataContent {
  position: absolute;
  right: 0;
}

.editIcon {
  cursor: pointer;

  &:hover {
    color: rgba(0,0,0,.6);
  }
}

.deleteIcon {
  cursor: pointer;

  &:hover {
    color: rgba(185, 0, 0, .6);
  }
}

.textareaWrapper {
  margin-bottom: 1em;
}

.status {
  margin: 0;
  font-size: 12px;
  line-height: 1;
  color: #606F85;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 600px;
}