:global(.ui.basic.label).toolbarBtn {
  border: none
}

:global(.ui.card .content .meta) {
  display: flex;
  justify-content: space-between;
}

:global(.ui.inverted.popup.transition.visible) {
  transition: none;
  filter: none;
  margin-top: -10px;
}

:global(.ui.inverted.popup.transition.visible .header) {
  margin-bottom: 4px;
}

.editIcon {
  cursor: pointer;

  &:hover {
    color: rgba(0,0,0,.6);
  }
}

.deleteIcon {
  cursor: pointer;

  &:hover {
    color: rgba(185, 0, 0, .6);
  }
}

.textareaWrapper {
  margin-bottom: 1em;
}
