:global(.ui.header) {
  display: flex;
  align-items: center;
}

.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.headerUserInfo {
  margin-left: 10px;
}

.statusWrapper {
  position: relative;
  display: flex;

  .editIcon {
    position: absolute;
    margin: 0px 10px;
    cursor: pointer;
    color: rgba(0,0,0,.4);

    &.hide {
      display: none;
    }
  
    &:hover {
      color: rgba(0,0,0,.6);
    }
  }

  .statusButtons {
    margin-left: 10px;
  }
}
