.usernameInputWrapper {
  position: relative;

  .editIcon {
    position: absolute;
    margin: 10px 15px;
    cursor: pointer;
    color: rgba(0,0,0,.4);

    &:hover {
      color: rgba(0,0,0,.6);
    }
  }
}

.profilePhotoWrapper {
  margin: 0 auto;
  margin-bottom: 10px;

  img {
    max-width: 600px;
    max-height: 600px;
  }
}
